<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/30px-Pokebola-pokeball-png-0.png"></ion-img>
      <ion-label>Pokedex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="test">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>