<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img style="width: 120px; height: 80px;"
        src="https://fontmeme.com/permalink/230118/c572c5a8318a7a7f6bc70809e4e39ab1.png"></ion-img>
    </ion-title>

    <ion-grid>
      <ion-row>
        <ion-img style="width: 120px; height: 80px;" src="assets/icon/buttons-removebg-preview-2.png"></ion-img>
        <ion-img style="width: 70px; height: 80px;" src="./assets/icon/empty.png"></ion-img>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<!-- barre de recherche ne fonctionne pas!!
<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="filterPokemon()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 -->


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pokemon of pokemons">
        <ion-card>
        <ion-list>
          <ion-thumbnail style="width: 170px; height: 80px;" slot="start">
            <img [src]="pokemon.image">
          </ion-thumbnail>
          <ion-label>
            <ion-card-header>
              <ion-card-title> {{ pokemon.name }} </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p># {{ pokemon.order }}</p>
              <p><ion-icon name="keypad-outline"></ion-icon> Type : {{pokemon.types}}</p>
              <p><ion-icon name="fitness-outline"></ion-icon> HP : {{ pokemon.hp }}</p>
              <p><ion-icon name="speedometer-outline"></ion-icon> Base experience : {{ pokemon.base_experience }}</p>
              <p> <ion-icon name="body-outline"></ion-icon> Weight : {{ pokemon.weight }} inch</p>
              <p><ion-icon name="scale-outline"></ion-icon> Height : {{ pokemon.height }} lb </p>
            </ion-card-content>
          </ion-label>
        </ion-list>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>